<%- include('includes/header') %>
<main class="container">
    <section class="nosotros">
        <h2>Tendencias</h2>
        <p>
            En la joyería actual, las tendencias destacan la elegancia del minimalismo y la personalización. Piezas delicadas y finamente elaboradas, como anillos y collares sutiles, junto con joyas personalizadas que reflejan individualidad, están en auge. Estas tendencias celebran la autenticidad y la singularidad, perfectas para complementar cualquier estilo.</p>
    </section>

    <section class="productos">
        <article class="product">
            <img class="img_1" src="../images/img_1_c+a.jpg" alt="Estuche de collar y aretes bañados en oro de 24k con cristales Swarovski">
            <div class="producto_informacion">
                <h2>Collar + Aretes</h2>
                <p>Estuche collar + aretes bañado en oro de 24k, con cristales Swarovski.</p>
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_2" src="../images/img_3_cadenas.avif" alt="Cadenas de bronce bañadas en oro, plata y hematite">
            <div class="producto_informacion">
                <h2>Cadenas Chunk</h2>
                <p>Cadena de bronce con baño de oro, plata y hematite.</p>
                <button aria-label="Agregar Cadenas Chunk al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_3" src="../images/img_2_aretes.jpg" alt="Aretes en forma de corazón con cristales Swarovski">
            <div class="producto_informacion">
                <h2>Aretes</h2>
                <p>Aretes tipo corazón con cristales Swarovski.</p>
                <button aria-label="Agregar Aretes al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_4" src="../images/img_4_c+a_perlas.avif" alt="Estuche de collar y aretes de perlas">
            <div class="producto_informacion">
                <h2>Collar + Aretes</h2>
                <p>Estuche collar + aretes de perlas.</p>
                <button aria-label="Agregar Collar + Aretes de Perlas al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_5" src="../images/img_5_setdeanillos.avif" alt="Set de Anillos">
            <div class="producto_informacion">
                <h2>Set de Anillos</h2>
                <p>Hermoso set de anillos</p>
                <button aria-label="Agregar Set de anillos al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_6" src="../images/img_6_collar.avif" alt="Collar">
            <div class="producto_informacion">
                <h2>Collar sencillo</h2>
                <p>Collar con baño en oro</p>
                <button aria-label="Agregar Collar al carrito">Agregar al carrito</button>
            </div>
        </article>


    </section>
</main>

<%- include('includes/footer') %>