<%- include('includes/header') %>

<main class="container">
    <section class="productos">
        
        <article class="product">
            <img class="img_7" src="../css/images/tienda_aretes1.jpg" alt="Candongas love baño en oro de 24k">
            <div class="producto_informacion">
                <h2>Candongas Love</h2>
                <p>Candongas love con baño en oro de 24k</p>
                <p class="precio">$49.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 
        
        <article class="product">
            <img class="img_8" src="../css/images/tienda_aretes2.jpg" alt="Aretes peace">
            <div class="producto_informacion">
                <h2>Aretes Peace</h2>
                <p>Aretes Peace/p>
                <p class="precio">$30.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 

        <article class="product">
            <img class="img_9" src="../css/images/tienda_aretes3.jpg" alt="Aretes vintage">
            <div class="producto_informacion">
                <h2>Aretes Vintage</h2>
                <p>Aretes Vintages con perlas barrocas/p>
                <p class="precio">$50.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 

        <article class="product">
            <img class="img_10" src="../css/images/tienda_aretes4.jpg" alt="Candongas Powerwomen">
            <div class="producto_informacion">
                <h2>Candogas Powerwoman </h2>
                <p>Candongas con baño en oro de 19K</p>
                <p class="precio">$39.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 

        <article class="product">
            <img class="img_11" src="../css/images/tienda_aretes5.jpg" alt="Aretes">
            <div class="producto_informacion">
                <h2>Candogas Star </h2>
                <p>Candongas star con baño en oro de 24K</p>
                <p class="precio">$60.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 

        <article class="product">
            <img class="img_12" src="../css/images/tienda_aretes6.jpg" alt="Aretes perlas barrocas">
            <div class="producto_informacion">
                <h2>Aretes perlas barrocas</h2>
                <p>Aretes con perlas barrocas</p>
                <p class="precio">$20.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 

        <article class="product">
            <img class="img_13" src="../css/images/tienda_aretes8.jpg" alt="Perlas">
            <div class="producto_informacion">
                <h2>Pin de perla barroca</h2>
                <p>Hermoso pin de perla barroca</p>
                <p class="precio">$10.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 
        
        <article class="product">
            <img class="img_14" src="../css/images/tienda_brazalete1.jpg" alt="Brazalete">
            <div class="producto_informacion">
                <h2>Brazalete tutton</h2>
                <p>Brazalete tutton con baño en oro</p>
                <p class="precio">$20.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 

        <article class="product">
            <img class="img_15" src="../css/images/tienda_brazalete2.jpg" alt="Brazalete2">
            <div class="producto_informacion">
                <h2>Brazalete tipo chunk</h2>
                <p>Brazalete tipo chunk bañado en oro 24k</p>
                <p class="precio">$30.99</p> <!-- Añadido el precio aquí -->
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article> 
        
        <article class="product">
            <img class="img_1" src="css/images/img_1_c+a.jpg" alt="Estuche de collar y aretes bañados en oro de 24k con cristales Swarovski">
            <div class="producto_informacion">
                <h2>Collar + Aretes</h2>
                <p>Estuche collar + aretes bañado en oro de 24k, con cristales Swarovski.</p>
                <p class="precio">$20.99</p>
                <button aria-label="Agregar Collar + Aretes al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_2" src="css/images/img_3_cadenas.avif" alt="Cadenas de bronce bañadas en oro, plata y hematite">
            <div class="producto_informacion">
                <h2>Cadenas Chunk</h2>
                <p>Cadena de bronce con baño de oro, plata y hematite.</p>
                <p class="precio">$30.99</p>
                <button aria-label="Agregar Cadenas Chunk al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_3" src="css/images/img_2_aretes.jpg" alt="Aretes en forma de corazón con cristales Swarovski">
            <div class="producto_informacion">
                <h2>Aretes</h2>
                <p>Aretes tipo corazón con cristales Swarovski.</p>
                <p class="precio">$50.99</p>
                <button aria-label="Agregar Aretes al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_4" src="css/images/img_4_c+a_perlas.avif" alt="Estuche de collar y aretes de perlas">
            <div class="producto_informacion">
                <h2>Collar + Aretes</h2>
                <p>Estuche collar + aretes de perlas.</p>
                <p class="precio">$60.99</p>
                <button aria-label="Agregar Collar + Aretes de Perlas al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_5" src="css/images/img_5_setdeanillos.avif" alt="Set de Anillos">
            <div class="producto_informacion">
                <h2>Set de Anillos</h2>
                <p>Hermoso set de anillos</p>
                <p class="precio">$10.99</p>
                <button aria-label="Agregar Set de anillos al carrito">Agregar al carrito</button>
            </div>
        </article>

        <article class="product">
            <img class="img_6" src="css/images/img_6_collar.avif" alt="Collar">
            <div class="producto_informacion">
                <h2>Collar sencillo</h2>
                <p>Collar con baño en oro</p>
                <p class="precio">$10.99</p>
                <button aria-label="Agregar Collar al carrito">Agregar al carrito</button>
            </div>
        </article>


    </section>
</main>


<%- include('includes/footer') %>