<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bijouterie Shopper</title>
    <link rel="stylesheet" href="css/assets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="description" content="Bijouterie Shopper ofrece una exclusiva selección de joyas bañadas en oro y adornadas con cristales Swarovski.">
    <meta name="keywords" content="bijouterie, joyería, collar, aretes, cristales Swarovski">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <h1>Bijouterie Shopper</h1>
        <div class="header-icons">
            <a href="/registro" class="icon"><i class="fas fa-user"></i></a>
            <a href="/carrito" class="icon"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="tendencias">
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/tendencias">Tendencias</a></li>
            <li><a href="/tienda">Tienda</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>
